{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/dist/output.css" rel="stylesheet">
    <title>atVault</title>
</head>
<body>
    <div class="w-full h-screen flex place-content-center">
        <div class="w-3/12 mx-auto my-auto">
            <div>
                 <img src="{% static '/assets/atvault.svg' %}" alt="" srcset="">
            </div>
            <div class="mt-10">
                 <form action="/sign_in" method="POST" class="flex flex-col gap-4">
                    {% csrf_token %}
                     <input type="text" name="name" id="" required placeholder="Username" class="h-11 bg-gray-100 rounded-full placeholder:text-gray-400 px-4 focus:outline-gray-300 w-11/12">
                     <input type="password" name="password" id="" required placeholder="Password" class="h-11 bg-gray-100 rounded-full placeholder:text-gray-400 px-4 focus:outline-gray-300 w-11/12">
                     {% if failed == 'true'%}
                        <p class="text-red-500 text-center w-11/12">Invalid Credantials</p>
                     {% endif %}
                     <button type="submit" class="bg-myBlue text-white rounded-full h-11 w-11/12">Login</button>
                 </form>
            </div>
         </div>
    </div>
</body>
</html>