{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/dist/output.css" rel="stylesheet">
    <title>FRAS</title>
</head>
<body>
    <div class="flex w-full h-screen place-content-center">
        <div class="w-3/12 mx-auto my-auto">
            <div>
                 <img src="{% static '/assets/atvault.svg' %}" alt="" srcset="">
            </div>
            <div class="mt-10">
                 <form action="/sign_in" method="POST" class="flex flex-col gap-4">
                    {% csrf_token %}
                     <input type="text" name="name" id="" required placeholder="Username" class="w-11/12 px-4 bg-gray-100 rounded-full h-11 placeholder:text-gray-400 focus:outline-gray-300">
                     <input type="password" name="password" id="" required placeholder="Password" class="w-11/12 px-4 bg-gray-100 rounded-full h-11 placeholder:text-gray-400 focus:outline-gray-300">
                     <p class="w-11/12 text-center text-red-500">Invalid Credantials</p>
                     <button type="submit" class="w-11/12 text-white rounded-full bg-myBlue h-11">Login</button>
                 </form>
            </div>
         </div>
    </div>
</body>
</html>