{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/dist/output.css" rel="stylesheet">
    <title>FRAS</title>
</head>
<body>
    <div class="w-full py-4 h-dvh px-14">
        <div class="flex items-center justify-between w-full">
            <div class="">
                <img src="{% static '/assets/atvault.svg' %}" alt="" class="w-36">
            </div>
            <div class="flex items-center justify-center px-1 py-1 rounded-full shadow-lg shadow-gray-200">
                <div class="flex items-center gap-2">
                    <p class="ml-3 capitalize">Lutaaya Jamil</p>
                    <span class="text-lg"><i class="leading-3 fi fi-rr-user"></i></span>
                    <button title="Log out" class="flex items-center justify-center w-10 h-10 text-lg bg-gray-200 rounded-full hover:bg-red-200 hover:text-red-500"><i class="leading-3 fi fi-br-power"></i></button>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-10 mt-10 h-4/5">
            <div class="flex flex-col gap-4">
                <span class="flex items-center gap-3 group"><a href="home"><button type="button" class="flex items-center justify-center w-12 h-12 text-lg rounded-full shadow-lg shadow-gray-200 hover:bg-myBlue hover:text-white"><i class="leading-3 fi fi-sr-face-viewfinder"></i></button></a><p class="text-white group-hover:text-myBlack sele">Capture</p></span>
                <span class="flex items-center gap-3 group"><a href="attendance"><button type="button" class="flex items-center justify-center w-12 h-12 text-lg text-white rounded-full shadow-lg shadow-gray-200 bg-myBlue"><i class="leading-3 fi fi-sr-to-do"></i></button></a><p class="text-white group-hover:text-myBlack sele">Attendance</p></span>
                <span class="flex items-center gap-3 group"><a href="students"><button type="button" class="flex items-center justify-center w-12 h-12 text-lg rounded-full shadow-lg shadow-gray-200 hover:bg-myBlue hover:text-white"><i class="leading-3 fi fi-sr-user"></i></button></a><p class="text-white group-hover:text-myBlack sele">Students</p></span>
                <span class="flex items-center gap-3 group"><a href="add_student"><button type="button" class="flex items-center justify-center w-12 h-12 text-lg rounded-full shadow-lg shadow-gray-200 hover:bg-myBlue hover:text-white"><i class="leading-3 fi fi-sr-user-add"></i></button></a><p class="text-white group-hover:text-myBlack sele">Add</p></span>
            </div>
            <div class="w-full h-full p-6 border border-gray-200 rounded-3xl">
                <div class="flex items-center justify-between mb-6">
                    <h1 class="text-3xl font-bold">Attendance</h1>
                    <div class="flex items-center gap-2">
                        <p>Filter By Date</p>
                        <input type="date" name="" id="" class="h-10 px-3 bg-gray-100 rounded-lg focus:outline-gray-200">
                    </div>
                </div>
                <div class="w-full h-full">
                    <div class="grid w-full grid-cols-5 px-2 mb-4 text-lg font-bold">
                        <span><h1>Name</h1></span>
                        <span><h1>Course</h1></span>
                        <span><h1>Student No</h1></span>
                        <span><h1>Gander</h1></span>
                        <span><h1>Attended</h1></span>
                    </div>
                    <div class="overflow-y-scroll h-4/5">
                        {% for attendance in attendances%}
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">{{attendance.student.name}}</span>
                            <span>{{attendance.student.course}}</span>
                            <span>{{attendance.student.student_no}}</span>
                            <span>{{attendance.student.gender}}</span>
                            <span>{{attendance.date}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>