{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/dist/output.css" rel="stylesheet">
    <script type="module" async src="{% static '/js/mediapipe.js' %}" type="text/javascript"></script>
    <title>FRAS</title>
</head>
<body>
    <div class="w-full h-screen py-4 px-14">
        <div class="flex items-center justify-between w-full">
            <div>
                <img src="{% static '/assets/atvault.svg' %}" alt="" srcset="" height="150px" width="150px">
            </div>
            <div class="flex items-center justify-center px-1 py-1 rounded-full shadow-lg shadow-gray-200">
                <div class="flex items-center gap-2">
                    <p class="ml-3 capitalize">{{user.username}}</p>
                    <span class="text-lg"><i class="leading-3 fi fi-rr-user"></i></span>
                    <form action="logout">
                    <button type="submit" title="Log out" class="flex items-center justify-center w-10 h-10 text-lg bg-gray-200 rounded-full hover:bg-red-200 hover:text-red-500"><i class="leading-3 fi fi-br-power"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex items-center">
            <div class="flex">
                <p class="text-white">Home</p>
                <p class="mx-2 text-white">/</p>
                <p class="text-white">Real Time</p>
            </div>
            <h5 id="model_predictions" class="text-4xl font-bold"></h5>
        </div>
        <div class="flex items-center gap-5 mt-5 h-4/5">
            <div class="flex flex-col gap-4">
                <span class="flex items-center gap-3 group"><a href="home"><button type="button" class="flex items-center justify-center w-12 h-12 text-lg text-white rounded-full shadow-lg shadow-gray-200 bg-myBlue"><i class="leading-3 fi fi-sr-face-viewfinder"></i></button></a><p class="text-white group-hover:text-myBlack sele">Real Time</p></span>
                <span class="flex items-center gap-3 group"><a href="attendance"><button type="button" class="flex items-center justify-center w-12 h-12 text-lg rounded-full shadow-lg shadow-gray-200 hover:bg-myBlue hover:text-white"><i class="leading-3 fi fi-sr-to-do"></i></button></a><p class="text-white group-hover:text-myBlack sele">Upload</p></span>
            </div>
            <div class="relative w-full h-full bg-gray-200 border border-gray-200 rounded-3xl">
                <div class="absolute text-4xl top-1/2 left-1/2">
                    <button id="cameraButton" type="button"><i class="leading-3 fi fi-sr-face-viewfinder"></i></button>
                </div>
                <div id="cameraView" class="w-full h-full bg-gray-400 rounded-3xl">
                 <!-- place camera in this div     -->
                </div>
                <div>
                <div class="absolute flex items-center gap-2 bottom-2 right-2">
                    <div id="camera-stop" class="flex items-center justify-center hidden h-10 px-4 text-white bg-red-500 rounded-full">
                        <p>Close Camera</p>
                    </div>
                    <div id="recorded" class="flex items-center justify-center hidden h-10 px-4 text-white bg-green-500 rounded-full statusDiv">
                        <p><i class="leading-3 fi fi-br-check" id="message" ></i></p>
                    </div>
                </div>
            </div>
                
            </div>
           
        </div>
    </div>
</body>

<script>
    document.getElementById('camera-stop').addEventListener('click', async () => {
        var video = document.getElementById('video');
        video.srcObject.getTracks().forEach(track => track.stop());
    });

    function logout(){
        window.location.href = "/logout";
    }
</script>




</html>