{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/dist/output.css" rel="stylesheet">
    <title>atVault</title>
</head>
<body>
    <div class="w-full py-4 h-dvh px-14">
        <div class="flex items-center justify-between w-full">
            <div class="">
                <img src="{% static '/assets/atvault.svg' %}" alt="" class="w-36">
            </div>
            <div class="flex items-center justify-center px-1 py-1 rounded-full shadow-lg shadow-gray-200">
                <div class="flex items-center gap-2">
                    <p class="ml-3 capitalize">Lutaaya Jamil</p>
                    <span class="text-lg"><i class="leading-3 fi fi-rr-user"></i></span>
                    <button title="Log out" class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full text-lg hover:bg-red-200 hover:text-red-500"><i class="leading-3 fi fi-br-power"></i></button>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-10 mt-10 h-4/5">
            <div class="flex flex-col gap-4">
                <span class="flex items-center gap-3 group"><a href="home.html"><button type="button" class="flex items-center justify-center text-lg w-12 h-12 hover:text-white rounded-full shadow-lg shadow-gray-200 hover:bg-myBlue"><i class="leading-3 fi fi-sr-face-viewfinder"></i></button></a><p class="text-white group-hover:text-myBlack">Capture</p></span>
                <span class="flex items-center gap-3 group"><a href="attendance.html"><button type="button" class="flex items-center justify-center text-lg w-12 h-12 rounded-full shadow-lg shadow-gray-200 hover:bg-myBlue hover:text-white"><i class="leading-3 fi fi-sr-to-do"></i></button></a><p class="text-white group-hover:text-myBlack">Attendance</p></span>
                <span class="flex items-center gap-3 group"><a href="students.html"><button type="button" class="flex items-center justify-center text-lg w-12 h-12 rounded-full shadow-lg shadow-gray-200 bg-myBlue text-white"><i class="leading-3 fi fi-sr-user"></i></button></a><p class="text-white group-hover:text-myBlack">Students</p></span>
                <span class="flex items-center gap-3 group"><a href="addStudent.html"><button type="button" class="flex items-center justify-center text-lg w-12 h-12 rounded-full shadow-lg shadow-gray-200 hover:bg-myBlue hover:text-white"><i class="leading-3 fi fi-sr-user-add"></i></button></a><p class="text-white group-hover:text-myBlack">Add</p></span>
            </div>
            <div class="w-full h-full p-6 border border-gray-200 rounded-3xl">
                <div class="mb-6">
                    <h1 class="text-3xl font-bold">Students</h1>
                </div>
                <div class="w-full h-full">
                    <div class="grid w-full grid-cols-5 px-2 mb-4 text-lg  font-bold">
                        <span><h1>Name</h1></span>
                        <span><h1>Cource</h1></span>
                        <span><h1>Student No</h1></span>
                        <span><h1>Gander</h1></span>
                        <span><h1>Appearance</h1></span>
                    </div>
                    <div class="overflow-y-scroll h-4/5">
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize truncate">Kasasa roy didanie didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                        <div class="grid w-full grid-cols-5 px-2 py-3 mb-4 bg-white shadow-lg shadow-gray-200 rounded-xl">
                            <span class="capitalize">roy didanie</span>
                            <span>BIT</span>
                            <span>878448778</span>
                            <span>Male</span>
                            <span>24</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>